@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
body {
	color: #fff;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
}
body,
html {
	width: 100%;
	height: 100%;
	
}
.hud-container {
	position: absolute;
	top: 3%;
	width: 90px;
	height: 80px;
	display: flex;
	font-size: 16px;
	right: 0%;
}
.hud_logo {
	width: 80px;
	height: 80px;
	right: 30px;
	top: -5px;
	position: absolute;
}
.server-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	right: 130px;
	top: 10px;
}
.server-time {
	display: flex;
	align-items: center;
	position: relative;
	left: -50%;
}
.multiplier-container {
	display: flex;
	align-items: center;
	position: relative;
	left: -80%;
}
.server-time svg {
	fill: white;
	position: relative;
	margin-right: 10px;
}

.server-playerid {
	display: flex;
	align-items: center;
	position: relative;
	left: -20%;
}
#hud-container::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 80%;
	background-color: #fff;
	right: 130px;
}
.server-online {
	display: flex;
	align-items: center;
	position: relative;
	left: -35%;
	top: 15%;
}

.server-online svg {
	fill: white;
	position: relative;
	margin-right: 10px;
}
.weapon-container {
	position: absolute;
	top: 100px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	width: 120px;
	height: 70px;
	background-color: transparent;
	font-size: 20px;
	background-image: linear-gradient(to right, #0072ff, #00c6ff);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.multiplier {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: transparent;
	font-size: 15px;
	background-image: linear-gradient(to right, #0072ff, #00c6ff);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.weapon-container img {
	width: 60px;
	height: 60px;
}
.users-container {
	position: absolute;
	top: 80px;
	right: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	width: 220px;
	height: auto;
	font-size: 20px;
	padding: 10px;
}

.hud__contentbar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 20vh;
}
.hud__bar_item {
	color: white;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0.95vh 1vh;
}
.hud__bar_img {
	width: 2vh;
	height: 1.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-left: 10px;
}
.hud__nbar {
	width: 19vh;
	height: 1.2vh;
	border-radius: 0.4vh;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
}

.hud__nbar .hp {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: 0.3s;
	border-radius: 0.4vh;
	background-color: rgba(255, 51, 51, 1);
}
.hud__nbar .ap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: 0.3s;
	border-radius: 0.4vh;
	background-color: #0171ff;
}
.hud__nbar .ep {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: 0.3s;
	border-radius: 0.4vh;
	background-color: #78be25;
}
.hud__nbar .vp {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: 0.3s;
	border-radius: 0.4vh;
	background-color: #ddff33;
}
.weapon-ammo {
	position: absolute;
	top: 190px;
	right: 45px;
}
.info-player {
	position: absolute;
	top: 22vh;
	margin-left: 15vw;
}
.user-money,
.user-bank {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8vw;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.user-money img,
.user-bank img {
	width: 2.5vh;
	height: 4vh;
	margin-left: 10px;
	order: 2;
}
.user-bank {
	margin-top: 20px;
}

.stars-info {
	position: relative;
	margin-top: 10px;
	margin-right: 10px;
}
.stars-active {
	filter: invert(33%) sepia(100%) saturate(2000%) hue-rotate(190deg)
		brightness(90%) contrast(100%);
}
.help-panel {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 4px #000;
}

.help-line {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.help-line:first-child {
	margin-top: 0px;
}

.help-key {
	min-width: 20px;
	padding: 2px 4px;
	margin-right: 5px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
}
#bottomInfoPanel {
	position: absolute;
	display: flex;
}
.fps {
	position: absolute;
	display: flex;
}
#location {
	width: auto;
	height: 1.8vw;
	margin-top: 0.7vw;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5vw;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
}
#location .city {
	font-family: Montserrat;
	font-size: 0.8vw;
	color: white;
	font-weight: 800;
	margin-right: 0.8vw;
}
#location .address {
	font-family: Montserrat;
	font-size: 0.7vw;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);
}
.animateOpacityOn {
	opacity: 0;
	animation: open 1s;
	animation-fill-mode: forwards;
}
.car-hud {
	position: absolute;
	right: 1vw;
	bottom: 0;
	width: 18vw;
	text-align: center;
	transform: scale(0.86);
	font-family: 'Roboto', sans-serif;
}
.car-hud .speed {
	width: 15.5vw;
	height: 15.5vw;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.car-hud .engine {
	width: 3.5vw;
	height: 17.7vw;
	margin: 0 -2.3vw;
	transform: rotate(0deg);
	font-family: 'Roboto', sans-serif;
}
.car-hud .fuel {
	width: 3.5vw;
	height: 17.7vw;
	margin: 0 -2.3vw;
	transform: rotate(161deg);
	font-family: 'Roboto', sans-serif;
}
.car-hud .speed-info {
	margin: 0 0 -12.5vw 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: white;
}
.car-hud .speed-info .info {
	line-height: 1.8vw;
}
.car-hud .speed-info .info p:first-child {
	font-size: 2.3vw;
}
.car-hud .speed-info .info p:last-child {
	font-size: 0.8vw;
	opacity: 0.4;
}
.car-hud .speed-info .info-car {
	display: flex;
	justify-content: center;
}
.car-hud .speed-info .info-car .bulb {
	margin: 0 0.5vw;
}
.car-hud .speed-info .info-car .bulb svg {
	width: 1.3vw;
	height: 1.6vw;
}
.car-hud .speed-info .info-car .bulb:first-child .active path {
	fill: rgb(30, 255, 0);
}
.car-hud .speed-info .info-car .bulb:nth-child(2) .active path {
	fill: rgb(255, 0, 0);
}
.car-hud .speed-info .info-car .bulb:last-child .active path {
	fill: rgb(255, 153, 0);
}
.car-hud .engine-icon {
	width: 1.6vw;
	height: 1.6vw;
	position: absolute;
	bottom: 1.3vw;
}
.car-hud .fuel-icon {
	width: 1.8vw;
	height: 1.8vw;
	position: absolute;
	bottom: 1vw;
}

@keyframes open {
	100% {
		opacity: 1;
	}
}
